# Python-related files and directories
__pycache__/
*.py[cod]
*$py.class

# Distribution / build files
build/
dist/
wheels/
*.egg-info/
*.egg
*.log
site
*.tgz
*.tar.gz
.eggs/

# Virtual environments
.venv/
env/
venv/

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Secrets and local config
.env
*.env*
.env_example

# Test artifacts
.pytest_cache/
.coverage
htmlcov/
*.cover

# Cache
.cache/
.mypy_cache
.pytest_cache
.ruff_cache
.gradio
.logfire
temp/

# Exclude siles and folders
*.yml
.dockerignore
Dockerfile
Makefile

# Exclude other projects
/tests
/scripts

# Python version manager file
.python-version

# Exclude Git-related files
.git
.github
.gitignore
.pre-commit-config.yaml
